/*
Author: Kush Pamnani
*/

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
